/* BenefitsSection.module.css */

.section {
	text-align: center;
	background-color: #f8fafc;
	padding: 60px 20px;
}

.subtitle {
	display: flex;
	justify-content: center;
	font-family: "Manrope", sans-serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 1.5px;
	color: #94a3b8;
	text-transform: uppercase;
	margin-bottom: 8px;
	letter-spacing: 1px;
}

.title {
	font-family: "Playfair Display", serif;
	font-weight: 400;
	font-size: 45px;
	line-height: 58.5px;
	color: #1e293b;
	margin-bottom: 40px;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	justify-content: center;
}

.card {
	padding: 20px;
	width: 374px;
	height: 203px;
	text-align: left;
}

.icon {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #94d2bd;
	color: #ffffff;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-bottom: 16px;
	font-size: 20px;
}

.cardTitle {
	font-size: 18px;
	color: #1e293b;
	margin-top: 40px;
	margin-bottom: 8px;
}

.cardDescription {
	font-size: 14px;
	color: #64748b;
}
